.banner__title {
    color: var(--cinza-claro);
    font-family: var(--fonte-titulo);
    position: absolute;
    left: 50%;
    text-shadow: 4px 4px 4px #000000;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__title {
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px) {
    .banner__title {
        font-size: 5.0625rem;
    }
}
