.cartoons__title{
    display: flex;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: var(--cinza-medio);
    align-items: initial;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fonte-titulo);
    padding: .75rem 0;
    
    }

@media screen and (min-width: 0) {
    .cartoons__title {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 768px) {
    .cartoons_title {
        font-size: 2.2rem;
    }
}


    