.cartoons__button {
    font-size: 1rem;
    display: block;
    font-weight: 700;
    width: 100%;
    align-self: center;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--preto);
    color: var(--cinza-claro);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cartoons__button:hover{
    transition: .2s;
    background-color: var(--cinza-medio);
    color: var(--preto);
    font-size: 1.2rem;
}
