.header{
    background: var(--preto);
    color: var(--cinza-claro);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.header__logo {
    margin-bottom: 1rem;
    width: 50px;
}

.header__nav {
    text-align: center;
}

.header__title {
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    text-align: center;
    padding: 0 6% 6%;
}

.header__link {
    text-transform: uppercase;
    font-size: 1rem;

    display: inline-block;

    margin: 1rem;
    margin-bottom: 1.25rem;

}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-between;

        border: none;
    }

    .header__logo {
        margin-bottom: 1rem;
        width: 150px;
    }

    .header__title {
        padding: 6%;
    }
}
