.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../../img/bg-listras.jpg');
}


@media screen and (min-width: 1024px) {
.location{
    text-align: center;
}
}